.search-form {
    background: #333;
    padding: 10px;
    border-radius: 10px 40px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: antiquewhite;
}
.search-form form {
    margin: 10px 0;
}
.search-form input {
    width: 70%;

}
.search-form input, 
.search-form button {
    outline: none;
    padding: 10px;
    border-radius: 7px;
    border: none;
}
.search-form button {
    padding: 10px 40px;
    background: #6cc644;
    margin:0 8px ;
}
.user{
    display: flex;
    flex-direction: row;
} 
.user-image {
   width: 20%;
   border-radius: 10%; 
}
.user .image img {
    width: 100%;
    border-radius: 10%;
}